
.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    margin: 0px 0px -258px 0px;
    background-color:cornflowerblue;
    color: #ecf0f1;
    
  }
  
  form {
    width: 80%;
    max-width: 400px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
    color:black;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 10px;
  }
  
  button {
    background-color: #737373;
    color: #fff;
    padding: 10px;
    /* border: black 45px; */
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #000000;



  }
  
  button:hover {
    background-color: #2980b9;
  }
