


  .icon-linkedin {
    color: black;
    margin: 0px -101px 0px -99px;
  }
  
  .icon-facebook {
    color: black;
    margin: 2px -97px 0px -14px;
  }
    @media (max-width: 1433px) 
    {.icon-facebook{
        margin: 6px -81px 5px 43px;
    }
    }
      
    

    @media (max-width: 768px) {
        .icon-facebook
        {
        margin: 6px -87px 5px -86px;
    }
        
      }
  
  
  .icon-instagram {
    color: #fff;
    margin: 0px -4px 0px 0px;
    border: double;
    border-radius: 10%;
    font-size: 1em;
}

  
    @media (max-width: 410px) {
      .icon icon-facebook{
      margin: 0px 0px 0px 0px;
    }
    }
  