* {
  margin: 0px;
  padding: 0px;
}

.HomeContainer {
  max-width: 94%;
  text-align: center;
  margin: 9% -22% 77% 3%;
  padding: 0% 6% -1% -3%;
}
.HomeContainer1 {
  background-image: url('../../public/pattern-7077094_1280.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  /* Otros estilos según sea necesario */
  height: 100%;
  width: 100%;
  font-size: 63%;

}
h3{
  margin: -3% 0% 18% 0%;
  font-size: 159%;

}
form {
  width: 80%;
  background:#a9b6a8;
  margin: 0% 20% 0% 0%;
}
.p1 {
  color: white;
  display: contents;
  line-height: 2.4;
  font-size: 234%;
  margin: 1% auto;
  padding: 3% 15% 1% 11%;
  flex-direction: row-reverse;
  align-items: center;
  width: 30%;
}

.div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  font-size: medium;
  justify-content: space-around;
  margin-bottom: -40%;
}

.perfil {
  width: 150px;
  margin: 10px 0;
  border-radius: 20%;
  border: 4px solid #000000;
}

.perfil.linkedin-logo {
  display: block;
  margin: 0 auto;
  width: 20px;
}

.linkedin-logo {
  width: 29px;
  border-radius: 10px;
  border: 3px solid #000000;
  margin: 13% -13% -4% -27%;
}



.black {
  color: #000000;
  font-size: 275%;
  margin: 0% 0% 0% 0%;
  text-decoration: underline;
  
}
.abajo{
  padding-bottom: 10%;
}
h2 {
  margin: 35% 0% 8% -2%;
  font-size: 311%;
  color: black;
  text-decoration: underline;
}
@media  (max-width: 1440px) {

  .black {
    color: #000000;
    font-size: 903%;
    margin: 0% 0% 0% 0%;
    text-decoration: underline;
  }
  h3 {
    margin: 0% 0% 18% 0%;
    font-size: 387%;
  }
  .p1 {
    color: white;
    display: contents;
    line-height: 2.4;
    font-size: 352%;
    margin: 11% 5% 6% -3%;
    padding: 7% 18% 4% 14%;
    flex-direction: row-reverse;
    align-items: center;
    width: -37%;
  }
  .perfil {
    width: 150px;
    margin: 0% -17% 6% -5%;
    border-radius: 20%;
    border: 4px solid #000000;
}
  
  .linkedin-logo {
    width: 7%;
    border-radius: 10px;
    border: 3px solid #000000;
    margin: 20% -13% -9%
  }
}

@media  (max-width: 1024px) {

}
@media  (max-width: 768px) {
  .div {
    flex-direction: column; /* Cambiar a una disposición de columna */
    align-items: center; /* Centrar los elementos */
    margin: 0% 0% -23% 0%;
  }
  .linkedin-logo {
    width: 29px;
    border-radius: 10px;
    border: 3px solid #000000;
    margin: 19% -11% 23% -32%;
}
  .p1 {
  
    display: contents;
    line-height: 2.4;
    font-size: 211%;
    margin: 1% auto;
    padding: 3% 15% 1% 11%;
    flex-direction: row-reverse;
    align-items: center;
    width: 30%;
}

  .perfil {
    margin: -2% 0% 49% -35%;
  }

  h3 {
    font-size: 203%;
    margin: 26% -21% 9% -22%
  }

  h2 {
    
    font-size: 108%;
    margin: 92% 0% -22% -15%;
    color: black;


  }
  form {
    width: 80%;
    
    margin: 0% 11% 0% 0%;
}
  
.black {
  color: #000000;
  font-size: 476%;
  margin: 0% 0% 0% 0%;
  text-decoration: underline;
}
}
@media (max-width: 425px) {
  .p1 {
    font-size: 16px;
  }
  .linkedin-logo {
    width: -1%;
    border-radius: 10px;
    border: 3px solid #000000;
    margin: 12% -13% -3% -33%;
  }
  .p1 {
    font-size: 121%;
    margin-left: 25%;
    margin-right: 0;
    display: flex;
}
.black {
  color: #000000;
  font-size: 412%;
  margin: 0% 0% 0% 0%;
  text-decoration: underline;
}
  h3 {
    font-size: 154%;
    margin: -2% 0% 7% 0%;
  }
  h2 {
   
    font-size: 164%;
   
    color: black;
  }

  .perfil {
    margin: 5% 0% 13% -30%;
  }
  .footer {
    
      padding: 27px 0;
      margin: 23% -45% -3% -50%;
  
}



}

@media (max-width: 375px) {
  .p1 {
    font-size: 16px;
  }
  .linkedin-logo {
    width: 29px;
    border-radius: 10px;
    border: 3px solid #000000;
    margin: 17% -29% 4% -22%;
  }
  .p1 {
    font-size: 107%;
    margin-left: 24%;
    margin-right: 0;
    display: flex;

}
.black {
  color: #000000;
  font-size: 372%;
  margin: 0% 0% 0% 0%;
  text-decoration: underline;
}
  h3 {
    font-size: 119%;
    margin: 3%;
  }

  h2 {
    font-size: 144%;
    /* margin-top: 0; */
    color: black;
    /* margin-left: 0; */
    margin: 6% 0% 0% -15%;


  }

  .perfil {
    margin: 31% 0% 37% -30%;
  }
  
}

@media (max-width: 320px) {

.p1 {
  font-size: 12px;
  letter-spacing: 0px;
  display: table-cell;
}
.perfil {
  width: 80px;
  margin: 12% 0% 27% -45%;
}

    .black {
      color: #000000;
      font-size: 327%;
      margin: 0% 3% 0% -3%;
      text-decoration: underline;
  
}
.p1 {
  font-size: 152%;
  letter-spacing: 0px;
  display: table-cell;
}
.footer {
  padding: 0% 0% 0% 0%;
  margin: 23% -55% 0% -47%;
  font-size: 84%;
}
}
