.HomeContainer {
  max-width: 800px;
  padding: 71px;
  text-align: center;
  margin: 0 auto;
  margin: 0 auto;
}



.p1 {
  color: white;
  line-height: 1.6;
  font-size: 10px;
  align-items: center;
  margin-left: 28px;
  
}


.div {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 20px; 
  margin: 12px 75px 0px 0px;
}

.perfil {
  width: 200px;
  margin: 10px 0px 11px 0px; 
  border-radius: 20%;
  border: 3px solid #333;
}


.perfil.linkedin-logo {
 
  display: block;
  margin: 0 auto;
  width: 20px;
}

.linkedin-logo {
  width: 29px;
  margin: 0px 0px -46px -125px;
  border-radius: 10px;
  border: 3px solid #000000;
}

h3 {
  margin: 3px -98px 0px 0px;
}

.black {
  color: #000000;
  font-size: 44px;
  margin-left: 10px;
  margin-top: -44px;
  margin-bottom: -75px;
}

@media  (max-width: 768px) {
  .div {
    flex-direction: row; 
    justify-content: space-evenly; 
  }
  .p1 {
    color: white;
    line-height: 1.6;
    font-size: 100px;
    align-items: center;
    margin-left: 28px;
    height: 100%;
    /*display:none;*/
  }
  .perfil {
    margin: 10px 0px 0px 0px;
  }
}
@media (max-width: 540px) {
  .p1 {
    color: white;
    line-height: 1.6;
    font-size: 100px;
    align-items: center;
    margin-left: 28px;
    /*display:none;*/
  }
  }

@media (max-width: 340px) {
.p1 {
  color: white;
  line-height: 1.6;
  font-size: 1px;
  align-items: center;
  margin-left: 28px;
 
}
}