.App-logo {
  box-shadow: 16px 14px 20px #0000008c;
  object-fit: contain; 
  box-shadow: 0px 0px 15px 15px #39d339;
}

.logo-container {
  width: 100%;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.nav2 {
  display: flex;
  align-items: center;
  padding: 43px 3px 23px 0px;
  margin: 0px 1px 0px -57px;
  background: linear-gradient(to left, #737373, #000);
}

.nav2 a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav2 a:hover {
  color: #ffd700;
}

p{
  font-size: large;
}

@media (max-width: 768px) {
  .nav2 {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: #333;
  }
p{
  display:none;
}
  .nav2.open {
    height: 43%;
    display: flex;
    margin: -67px 0px 12px 10px;
    width: 76px;
    border-radius: 10px 10px 0px 10px;
    flex-direction: column;
    flex-wrap: wrap;

  }

  .menu-icon {
    display: flex;
    margin: 0 auto; 
  }

  .menu-icon.open + .nav2 {
    display: flex;
  }

  h2 {
    margin: 70px 0px 0px 0px;
  }
  h1 
  {
    color: rgb(255, 255, 255);
    width: 20%;
    font-size: 31px;
    margin: 11px 14px 0px 185px;
  
  
  }
}
@media (max-width: 540px) {
  h1 
  {
    color :rgb(255, 255, 255);
    width: 20%;
    font-size: 31px;
    margin: 15px -4px 0px 105px;
  
  
  
  }
p{
  display: none;
}
  .navbar {
    width: 84%;
  }

  .menu-icon {
    display: flex;
    margin: 0 auto; 
    padding: 10px;
  }

  .nav2.open {
    height: 44%;
    display: flex;
    margin: -68px 0px 10px 10px;
    width: 76px;
    border-radius: 10px 10px 0px 10px;
    flex-direction: column;
  }
  .App-logo {
    box-shadow: 16px 14px 20px #0000008c;
    object-fit: contain; 
    box-shadow: 0px 0px 15px 15px #39d339;
    width: 50%;
  }

}

@media (max-width: 410px) {
  h1 {
    width: 20%;
    font-size: 18px;
    margin: 15px 0px 0px 133px;
  }
h1{

  margin-left: 126px;
}
  .navbar {
    width: 84%;
  }

  .menu-icon {
    display: flex;
    margin: 0 auto; 
    padding: 10px;
  }

  .nav2.open {
    height: 34%;
    display: flex;
    margin: -81px 0px 11px 19px;
    width: 66px;
    border-radius: 10px 10px 0px 10px;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 9px;
    width: 72px;

  }
  .App-logo {
    box-shadow: 16px 14px 20px #0000008c;
    object-fit: contain; 
    box-shadow: 0px 0px 15px 15px #39d339;
    width: 50%;
  }
  .nav2 a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}


}
@media (max-width: 340px) {
  h1 {
    width: 20%;
    font-size: 20px;
    margin: 5px 0px 0px 0px;
  }
h1{

  margin-left: 107px;
}
  .navbar {
    width: 84%;
  }

  .menu-icon {
    display: flex;
    margin: 0 auto; 
    padding: 10px;
  }

  .nav2.open {
    height: 41%;
    display: flex;
    margin: -90px 0px 11px 19px;
    width: 66px;
    border-radius: 10px 10px 0px 10px;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 9px;
    width: 72px;

  }
  .App-logo {
    box-shadow: 16px 14px 20px #0000008c;
    object-fit: contain; 
    box-shadow: 0px 0px 15px 15px #39d339;
    width: 50%;
  }
  .nav2 a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}


}
