.service-detail {
  text-align: left;
  max-width: 385px;
  font-size: 100%;
  margin: 7% 13% 4% 36%;
  padding: 20px;
  border: 1px solid #020202;
  border-radius: 8px;
  background-color: #d9d9d9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  p {
    /* display: none; */
    width: 47%;
    font-size: 103%;
    margin: 25% -60% 2% -33%;
}
  .service-detail h2 {
    color: #333;
    /* margin: 33px 44px; */
    font-size: 180%;
    /* display: inline; */
    margin-left: 11%;
    text-decoration-line: underline;
  
  }
  
   p {
    color: #555;
    line-height: 1.5;
  }
  nav {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 3%;
    border-radius: 6%;
    margin: 5% 41% 4% 39%;
}
@media (max-width: 768px) {

  .service-detail {
    text-align: left;
   
    margin: 16px auto;
    padding: 20px;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #d9d9d9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;

  }
  .service-detail h2 {
    color: #333;
    margin: 24px 55px;
  }
  
 .service-detail p {
  display: block;
  font-size: 84%;
  margin: 18% -52% 3% -66%;

  width: 47%;
}
}
@media (max-width: 540px) {
  .service-detail {
    text-align: left;
    max-width: 349px;
    margin: 16px auto;
    padding: 12px;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #d9d9d9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 14% -16% 15% 11%;

  }
  .service-detail p {
    display: block;
    font-size: 84%;
    margin: 18% -43% 3% -51%;
  
    width: 47%;
  }
  .service-detail h2 {
    color: #333;
    margin: 24px 55px;
  }
}
@media (max-width: 410px) {
  .service-detail {
    text-align: left;
    max-width: 312px;
    margin: 16px auto;
    padding: 0px;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #d9d9d9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 21% 0% 22% 4%;
    font-size: 85%;

  }
  .service-detail p {
    display: block;
    font-size: 89%;
    margin: 18% -41% 5% -71%;
    width: 42%;
  }
  .service-detail h2 {
    color: #333;
    margin: 0% 0% 0% 0%;
  }
}
@media (max-width: 340px) {
  .service-detail {
    text-align: left;
    max-width: 347px;
    margin: 16px auto;
    padding: 10px;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #d9d9d9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 18% 5% 13% 4%;
}
.service-detail p {
  display: flex;
  font-size: 82%;
  margin: 21% -39% 5% -47%;
  width: 45%;
}
.service-detail h2 {
  color: #333;
  margin: 6% 13% 0% -5%;
  font-size: 132%;
}
  }


@media (max-width: 290px) {

  .service-detail {
    text-align: left;
    max-width: 349px;
    margin: 16px auto;
    padding: 20px;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #d9d9d9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  .service-detail p {
    display: block;
    font-size: 89%;
    margin: 18% -41% 5% -71%;
    width: 42%;
  }
}