.service-detail {
  text-align: left;
  max-width: 385px;
  font-size: 100%;
  margin: 7% 13% 4% 36%;
  padding: 20px;
  border: 1px solid #020202;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px #ffffff;
}
a {
  color: black;
  margin: -11% -4% 0% 0%;
}
  p {
    /* display: none; */
    width: 47%;
    font-size: 103%;
    margin: 7% -22% -3% 25%;

}
  .service-detail h2 {
    color: #333;
    /* margin: 33px 44px; */
   
    /* display: inline; */
    margin-left: 11%;
    text-decoration-line: underline;
  
  }
 .init p{
    color: #555;
    line-height: 1.5;
  }
  
   p {
    color: #555;
    line-height: 1.5;
  }
  nav {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 3%;
    border-radius: 6%;
    margin: 5% 41% 4% 39%;
}
@media (max-width: 768px) {
  .service-link2 {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: -459% 26% 25% -91%;
    font-size: 68%;
    display: block;
  }
  a {
    color: black;
    margin: -11% -4% 0% 0%;
}
  .service-detail {
    text-align: left;
    max-width: 385px;
    font-size: 100%;
    margin: 7% 13% 4% 36%;
    padding: 20px;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px #ffffff;
  }
  a {
    color: white;
    margin: -11% -4% 0% 0%;
  }
    p {
      /* display: none; */
      width: 47%;
      font-size: 103%;
      margin: 25% -60% 2% -33%;
  }
    .service-detail h2 {
      color: #333;
      /* margin: 33px 44px; */
      font-size: 180%;
      /* display: inline; */
      margin-left: 11%;
      text-decoration-line: underline;
    
    }
    
     p {
      color: #555;
      line-height: 1.5;
    }
    nav {
      margin-top: 0px;
      display: flex;
      justify-content: space-around;
      background-color: #333;
      padding: 3%;
      border-radius: 6%;
      margin: 5% 41% 4% 39%;
    }
  .service-detail {
    text-align: left;
    /* margin: 16px auto; */
    padding: 93px;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 13% 13% 12% 13%;


  }
  .service-detail h2 {
    color: #333;
    margin: 0% 0% 0% 102%;
  }
  
 .service-detail p {
  display: block;
  font-size: 93%;
  margin: 16% -49% 4% -57%;
  width: 46% ;
  line-height: 1.5em;
}
a {
  color: black;
  margin: -11% -4% 0% 0%;
}
}
@media (max-width: 540px) {
  .service-detail {
    text-align: left;
    max-width: 349px;
    margin: 16px auto;
    padding: 5%;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 16% -14% 17% 3%;

  }
  a {
    color: black;
    margin: -11% -4% 0% 0%;
}
  .service-detail p {
    display: block;
    font-size: 84%;
    margin: 18% -43% 3% -51%;
  
    width: 47%;
  }
  .service-detail h2 {
    color: #333;
    margin: 24px 55px;
  }
  a {
    color: black;
    margin: -11% -4% 0% 0%;
  }
  .service-link2 {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: -406% 26% 25% -125%;
    font-size: 68%;
    display: block;
  }
  .service-link2{
    display: flex;
  }
}
@media (max-width: 410px) {
  p.description{
  
    display: block;
    font-size: 89%;
    margin: 36% 46% -7% -25%;
    width: 42%;
    line-height: 1.5em;
}
.text2{
  display: flex;
  /* font-size: 112%; */
  margin: 17% 68% -27% 34%;
  width: -16%;
  /* line-height: 1.0em; */
  flex-direction: row-reverse;
}
.service-link2{
  display: flex;
}
  .service-detail {
    text-align: left;
    max-width: 332px;
    margin: 16px auto;
    padding: 65px;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 23% 45% 25% 5%;
    font-size: 85%;
    width: 55%;

  }
  .service-detail2 {
    text-align: left;
    max-width: 332px;
    margin: 16px auto;
    padding: 65px;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 23% 45% 25% 5%;
    font-size: 85%;
    width: 55%;
    display: flex;

  }
  .service-detaillllll{
    display: block;
    font-size: 89%;
    margin: 36% 63% -7% -57%;
    width: 42%;
  }

  .service-detail service-1{
    text-align: left;
    max-width: 332px;
    margin: 16px auto;
    padding: 65px;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 23% 45% 25% 5%;
    font-size: 85%;
    width: 55%;

  }
  .service-link2 {
    color: #fff;
    display: flex;
    font-size: 68%;
    font-weight: 700;
    margin: -25% -16% 0% -12%;
    
  }
  .service-detail p {
    display: block;
    font-size: 112%;
    margin: 36% 83% -7% -71%;
    width: 42%;
    line-height: 1.5em;
    
  }
    .service-detail p {
    display: block;
    font-size: 112%;
    margin: 43% 80% -7% -64%;

    width: 42%;
    line-height: 1.5em;
    
  }
  .service-detail h2 {
    color: #333;
    margin: -11% -2% 3% -1%;
    font-size: 217%;
  }
  a {
    color: black;
    margin: 0% 0% 0% 0%;
}
}
@media (max-width: 340px) {
  .service-detail {
    text-align: left;
    max-width: 360px;
    margin: 16px auto;
    padding: 13% 23% 15% 6%;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgb(75 120 167 / 10%);
    margin: 19% 2% 15% 7%;
}

p {
  color: #555;
  line-height: 1.5;
 
  
}

.service-detail p {
  display: flex;
  font-size: 82%;
  margin: 26% -53% 7% -31%;
  width: 42%;
}
.service-detail h2 {
  color: #333;
  margin: 6% 13% 0% -5%;
  font-size: 132%;
}
a {
  color: black;
  margin: -11% -4% 0% 0%;
}
.service-link2 {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin: -459% 26% 25% -91%;
  font-size: 68%;
  display: block;
}
  }


@media (max-width: 290px) {

  .service-detail {
    text-align: left;
    max-width: 349px;
    margin: 16px auto;
    padding: 20px;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #d9d9d9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  .service-detail p {
    display: block;
    font-size: 89%;
    margin: 18% -41% 5% -71%;
    width: 42%;
  }
  a {
    color: black;
    margin: -11% -4% 0% 0%;
  }
  .service-link2 {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: -459% 26% 25% -91%;
    font-size: 68%;
    display: block;
  }
}