.HomeContainer{
  background-image: url('../../public/servicios.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 4%;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 52px -8px 29px -11px;
  display: flex; /* Usamos Flexbox */
  flex-wrap: wrap; /* Permitimos que los elementos se envuelvan a la siguiente línea */
  justify-content: space-between; /* Distribuimos los elementos horizontalmente */
}

li {
  font-size: 25px;
  margin: 0; /* Eliminamos el margen para que los elementos no tengan espacio entre ellos */
  width: calc(33.33% - 8px); /* Calculamos el ancho para que haya tres elementos por fila */
}

.nav{
  width: auto;

}
.servicios{

  width: 77%;

}

p {
  font-size: 177%;
  margin: 5% 27% 1% 21%;
}
.service-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin: 3% 0% 2% 0%;
  font-size: xx-large;
  width: 100%;
  padding: 24% 17% 24% 0%;
}
.service-group {
  display: flex;
  flex-wrap: nowrap;
  margin: 16% 0% 13% 0%;
}

.service-group nav {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33.33% - 20px);
  margin: 0px 9px 10px 6px;
  padding: 0%;
  display: flex;
  flex-direction: column;

}

.service-link:hover {
  text-decoration: underline;
  color: yellow;
}

h2 {
  margin: 6% 0% 3% 1%;
  font-size: xxx-large;
}
p {
  /* display: none; */
  width: 47%;
  font-size: 103%;
  margin: 25% -60% 2% -33%;
}

@media (max-width: 1430px) {
  p {
    /* display: none; */
    width: 47%;
    font-size: 103%;
    margin: 25% -60% 2% -33%;
  }
}
@media (max-width: 768px) {
  h2 {
    margin: 6% 0% 3%; /* Estilo para pantallas de hasta 768px de ancho */
  }
  .service-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 13% 0% -26% -77
  }
  .servicios {
    width: 90%;
    margin: 0% 3% 0% 0%;
  }
}
p {
  /* display: none; */
  width: 162%;
  font-size: 103%;
  margin: 3% -60% 2% -33%;
}


@media (max-width: 540px) {
  h2 {
    margin: 6% 0% 3%; /* Estilo para pantallas de hasta 540px de ancho */
  }
  .nav{
    width: auto;

  }
  .servicios {
    width: 90%;
    margin: 0% 3% 0% 0%;
  }

    .service-link {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        margin: 8% 28% 17% -1%;
        width: 99%;
        font-size: 100%;
        padding: 22% 61% 21% 1%;
  }
}

@media (max-width: 320px) {
  h2 {
    margin: 6% 0% 3%; /* Estilo para pantallas de hasta 410px de ancho */
  }
  .service-link {
   
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 8% 28% 17% -1%;
    font-size: 71%;
    display: block;
}
.description{
  
    display: block;
    font-size: 89%;
    margin: 36% 46% -7% -25%;
    width: 42%;
    line-height: 1.5em;
}
.servicios {
  width: 90%;
  margin: 0% 3% 0% 0%;
}
.service-group nav {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33.33% - 20px);
  margin: -7px 0px -8px 11px;
  padding: 0%;
  display: flex;
  flex-direction: column;
}
  }


