
@media (max-width: 1440px) {

  .servicios {
    width: 77%;
    margin: 0% 0% 0% -4%;
}
  .contenedor {
    background-image: url('../../public/2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -26% 49% -66% -157%;
    padding: 37% 125% 43% 9%;
    width: 123%;
    height: 127%;
  }
  .contenedor1 {
    background-image: url('../../public/empresarial.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 13% 49% -66% -157%;
    padding: 37% 125% 43% 9%;
    width: 123%;
    height: 127%;
  }
  .contenedor2 {
    background-image: url('../../public/finanzas.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 13% 49% -66% -157%;
    padding: 37% 125% 43% 9%;
    width: 123%;
    height: 127%;
  }
  .contenedor3 {
    background-image: url('../../public/impexpo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 13% 49% -66% -157%;
    padding: 37% 125% 43% 9%;
    width: 123%;
    height: 127%;
  }
  .contenedor4 {
    background-image: url('../../public/erp.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 13% 49% -66% -157%;
    padding: 37% 125% 43% 9%;
    width: 123%;
    height: 127%;
  }
  .contenedor5 {
    background-image: url('../../public/seguimiento.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 13% 49% -66% -157%;
    padding: 37% 125% 43% 9%;
    width: 123%;
    height: 127%;
  }
.service-link2{
  display: flex;
  color: black;
  margin: -38% 30% 40% -127%;
}
.service-detail h2 {
  color: black;
  margin: -12% 88% -16% 130%;
  font-size: 212%;
  display: flex;
}
.service-detail p {
  display: flex;
  font-size: 437%;
  margin: 4% -71% 11% 0%;
  width: 45%;
  color: black;
}
a {
  color: black;
  margin: 24% 13% 21% -4%;
}
  p {
    /* display: none; */
    width: 47%;
    font-size: 103%;
    margin: 7% -22% -3% 25%;

}
  .service-detail h2 {
    color: black;
    font-size: 430%;
    /* margin: 33px 44px; */
    /* display: inline; */
    margin-left: 15%;
    margin: -70% 2% 4% 26%;
  
  }
 .init p{
    color: #555;
    line-height: 1.5;
  }
  
   p {
    color: #555;
    line-height: 1.5;
    margin:8% 0% 0% 0%
  }
  nav {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    background: #000000;
    color: black;
    padding: 3%;
    border-radius: 6%;
    margin: 5% 41% 4% 39%;
    border: double;
}


  a {
    color: black;
    margin: -50% 27% 16% -163%;
    margin-top: -57%;
}
.service-link2{
  display: flex;
  color: black;
  margin: 16% 1% 52% -130%;
}
.empre h2 {
  margin: -61% 2% 30% 75%;
  font-size: 346%;
  color: black;
  text-decoration: underline;
}
  .service-detail h2 {
  
    font-size: 346%;
    color: black;
    text-decoration: underline;
    margin: -111% 4% 26% 67%;
    font-size: 547%;
    color: black;
    text-decoration: underline;
  }
 
  h2{
    font-size: 201%;
  }
   .p3{
    color: black;
    line-height: 1.5;
    margin: 16% 18% 32% 0%;
    font-size: 294%;
  }


}
@media (max-width: 1366px) {
  .service-detail h2 {
    margin: -124% 4% 26% 77%;
    font-size: 486%;
    color: black;
    text-decoration: underline;
  }
  .service-link2{

    display: flex;
    color: black;
    margin: 16% 1% 52% -134%;
  }
  
  .contenedor {
    background-image: url('../../public/2.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: -10% 48% -85% -174%;
    padding: 74% 154% 43% 9%;
    width: 123%;
    height: 127%;
  }
  .contenedor1 {
    background-image: url('../../public/empresarial.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: -10% 48% -85% -174%;
    padding: 74% 154% 43% 9%;
    width: 123%;
    height: 127%;
  }
  .contenedor2 {
    background-image: url('../../public/finanzas.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: -10% 48% -85% -174%;
    padding: 74% 154% 43% 9%;
    width: 123%;
    height: 127%;
  
  }
  .contenedor3 {
    background-image: url('../../public/impexpo.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: -10% 48% -85% -174%;
    padding: 74% 154% 43% 9%;
    width: 123%;
    height: 127%;
  }
  .contenedor4 {
    background-image: url('../../public/erp.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: -10% 48% -85% -174%;
    padding: 74% 154% 43% 9%;
    width: 123%;
    height: 127%;
  }
  .contenedor5 {
    background-image: url('../../public/seguimiento.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: -10% 48% -85% -174%;
    padding: 74% 154% 43% 9%;
    width: 123%;
    height: 127%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {

  .contenedor {
    background-image: url('../../public/2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -36% 49% -62% -132%;
    padding: 38% 109% 43% 9%;
    width: 123%;
    height: 127%;
  }
  .contenedor1 {
    background-image: url('../../public/empresarial.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -36% 49% -62% -132%;
    padding: 38% 109% 43% 9%;
    width: 123%;
    height: 127%;
  }
  .contenedor2 {
    background-image: url('../../public/finanzas.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -36% 49% -62% -132%;
    padding: 38% 109% 43% 9%;
    width: 123%;
    height: 127%;
  }
  .contenedor3 {
    background-image: url('../../public/impexpo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -36% 49% -62% -132%;
    padding: 38% 109% 43% 9%;
    width: 123%;
    height: 127%;
  }
  .contenedor4 {
    background-image: url('../../public/erp.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -36% 49% -62% -132%;
    padding: 38% 109% 43% 9%;
    width: 123%;
    height: 127%;
  }
  .contenedor5 {
    background-image: url('../../public/seguimiento.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -36% 49% -62% -131%;
    padding: 38% 107% 43% 9%;
    width: 123%;
    height: 127%;
  }
.service-link2{
  display: flex;
  margin: 5% 10% 62% -120%
}
.service-detail h2 {
  color: black;
  margin: -12% 88% -16% 130%;
  font-size: 212%;
  display: flex;
}
.service-detail p {
  display: flex;
  font-size: 437%;
  margin: 4% -71% 11% 0%;
  width: 45%;
  color: black;
}
a {
  color: black;
  margin: 24% 13% 21% -4%;
}
  p {
    /* display: none; */
    width: 47%;
    font-size: 103%;
    margin: 7% -22% -3% 25%;

}
  .service-detail h2 {
    color: black;
    font-size: 430%;
    /* margin: 33px 44px; */
    /* display: inline; */
    margin-left: 15%;
    margin: -70% 2% 4% 26%;
  
  }
 .init p{
    color: #555;
    line-height: 1.5;
  }
  
   p {
    color: #555;
    line-height: 1.5;
    margin:8% 0% 0% 0%
  }
  nav {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    background: #000000;
    color: black;
    padding: 3%;
    border-radius: 6%;
    margin: 5% 41% 4% 39%;
    border: double;
}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

  .service-link2 {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: -14% -44% 0% -19%;
    font-size: 76%;
    display: flex;
    position: relative;
  }
  .contenedor {
   
    background-image: url('../../public/2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -18% 62% -20% 30%;
    padding: 6% 50% 35% 50%;
    width: 135%;
    height: 127%;

  
  }
  .contenedor1 {
   display: flex;
    background-image: url('../../public/empresarial.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 17% 62% -20% 10%;
    padding: 31% 78% 0% 4%;
    width: 0%;
    height: 41%;

  
  }
  .contenedor2 {
   
    background-image: url('../../public/finanzas.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -18% 62% -20% 30%;
    padding: 6% 50% 35% 50%;
    width: 135%;
    height: 127%;

  
  }
  .contenedor3 {
   
    background-image: url('../../public/impexpo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -18% 62% -20% 30%;
    padding: 6% 50% 35% 50%;
    width: 135%;
    height: 127%;

  
  }
  .contenedor4 {
   
    background-image: url('../../public/erp.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -18% 62% -20% 30%;
    padding: 6% 50% 35% 50%;
    width: 135%;
    height: 127%;
  
  }
  .contenedor5 {
   
    background-image: url('../../public/seguimiento.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -18% 62% -20% 30%;
    padding: 6% 50% 35% 50%;
    width: 135%;
    height: 127%;
  
  }
  a {
    color: black;
    margin: -11% -4% 0% 0%;
}
  
  a {
    color: white;
    margin: -11% -4% 0% 0%;
  }
    p {
      /* display: none; */
      width: 47%;
      font-size: 103%;
      margin: 25% -60% 2% -33%;
  }
    .service-detail h2 {
      color: #ffffffcc;
      /* margin: 33px 44px; */
      font-size: 180%;
      /* display: inline; */
      margin-left: 11%;
      text-decoration-line: underline;
    
    }
    
     p {
      color: #555;
      line-height: 1.5;
    }
    nav {
      margin-top: 0px;
      display: flex;
      justify-content: space-around;
      /* background-color: #333; */
      padding: 3%;
      border-radius: 6%;
      margin: 5% 41% 4% 39%;
      background: #000000;
      color: black;
    }
  
  .service-detail h2 {
    color: black;
    font-size: 193%;
    margin: 9% 0% 0% -41%;
}
.service-detail p.empre{
    margin: 21% -49% 4% -101%;
    display: block;
    font-size: 167%;
    margin: 21% -49% 4% -101%;
    width: 49%;
    line-height: 1.5em;
    color: black;
  
  }
  .service-detail p.empre1{
    
    display: block;
    font-size: 167%;
    margin: 21% -49% 4% -101%;
    width: 49%;
    line-height: 1.5em;
    color: black;
  }
  

a {
  color: black;
  margin: -11% -4% 0% 0%;
}
}@media screen and (min-width: 425px) and (max-width: 768px) {

 
  .contenedor {
    background-image: url("../../public/2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -2% -4% 14% 22%;
    padding: 66% 17% 3% 15%;
    width: 32%;
  }
  .contenedor1 {
    background-image: url("../../public/empresarial.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -2% -4% 14% 22%;
    padding: 66% 17% 3% 15%;
    width: 32%;
  
  }
  .contenedor2 {
    background-image: url("../../public/finanzas.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -2% -4% 14% 22%;
    padding: 66% 17% 3% 15%;
    width: 32%;
  
  }
  .contenedor3 {
    background-image: url("../../public/impexpo.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -2% -4% 14% 22%;
    padding: 66% 17% 3% 15%;
    width: 32%;
  
  }
  .contenedor4 {
    background-image: url("../../public/erp.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -2% -4% 14% 22%;
    padding: 66% 17% 3% 15%;
    width: 32%;
  
  }
  .contenedor5 {
    background-image: url("../../public/seguimiento.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: -2% -4% 14% 22%;
    padding: 66% 17% 3% 15%;
    width: 32%;
  
  }
  a {
    color: black;
    margin: -11% -4% 0% 0%;
}
  .service-detail p {
    display: block;
    font-size: 168%;
    margin:-40% 169% 74% -41%;
    width: 37%;
    color: black;
    text-decoration: underline;

  }
  .service-detail p.empre{
    display: block;
    font-size: 168%;
    margin: -152% 169% 74% -109%;
    width: 37%;
    color: black;
    text-decoration: underline;
}

.service-detail p.empre1{
  display: block;
  font-size: 168%;
  margin: -38% 169% 74% -209%;
  width: 37%;
  color: black;
  text-decoration: underline;
}
  
  .text2{
    margin: 10% -109% -9% 15%;
    width: -39%;
    display: flex;

  }
  .service-detail h2 {
    color: black;
    margin: -200% 35% 53% 22%;
    width: 26%;
    font-size: 191%;
}
  a {
    color: black;
    margin: -11% -4% 0% 0%;
  }
  .service-link2 {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: -406% 26% 25% -125%;
    font-size: 68%;
    display: block;
  }
  .service-link2{
    display: flex;
    margin: 2% -103% 0% 93%;
  }
}
@media screen and (min-width: 375px) and (max-width: 425px) {

  p.description{
  
    display: block;
    font-size: 89%;
    margin: 36% 46% -7% -25%;
    width: 42%;
    line-height: 1.5em;
}
.contenedor {
  background-image: url("../../public/2.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 50% -4% 19% 13%;
  padding: 0% 40% 6% 0%;
}
.contenedor1 {
  background-image: url("../../public/empresarial.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 50% -4% 19% 13%;
  padding: 0% 40% 6% 0%;
}
.contenedor2 {
  background-image: url("../../public/finanzas.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 50% -4% 19% 13%;
  padding: 0% 40% 6% 0%;


}
.contenedor3 {
  background-image: url("../../public/impexpo.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 50% -4% 19% 13%;
  padding: 0% 40% 6% 0%;
}
.contenedor4 {
  background-image: url("../../public/erp.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 50% -4% 19% 13%;
  padding: 0% 40% 6% 0%;
}
.contenedor5 {
  background-image: url("../../public/seguimiento.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 50% -4% 19% 13%;
  padding: 0% 40% 6% 0%;
}
.text2{
  display: flex;
  /* font-size: 112%; */
  margin: 17% 68% -27% 34%;
  width: -16%;
  /* line-height: 1.0em; */
  flex-direction: row-reverse;
}
.service-link2{
  display: flex;
}





  .service-link2 {
    color: black;
    display: flex;
    font-size: 68%;
    font-weight: 700;
    margin: 10% -16% -48% 87%;
    
  }
  .service-detail p {
    display: block;
    font-size: 112%;
    margin: 36% 83% -7% -71%;
    width: 42%;
    line-height: 1.5em;
    color: #ffffffcc;
  }
    .service-detail p {
      display: block;
      font-size: 198%;
      margin: 24% 14% 12% 8%;
      color: black;
      line-height: 1.5em;
      text-decoration: underline;
    
  }
  .service-detail h2 {
    color: black;
    margin: -82% 0% -16% 29%;
    font-size: 220%;
  }
  a {
    color: black;
    margin: 0% 0% 0% 0%;
}
}
@media screen and (min-width: 320px) and (max-width: 375px) {
  
  .contenedor {
    background-image: url("../../public/2.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   
    margin: 0% -116% 34% 7%;
    padding: 1% 30% 6% 9%;
    width: 44%;
  
  }
  .contenedor1 {
    background-image: url("../../public/empresarial.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   
    margin: 0% -116% 34% 7%;
    padding: 1% 30% 6% 9%;
    width: 44%;
  }
  .contenedor2 {
    background-image: url("../../public/finanzas.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   
    margin: 0% -116% 34% 7%;
    padding: 1% 30% 6% 9%;
    width: 44%;
  }
  .contenedor3 {
    background-image: url("../../public/impexpo.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   
    margin: 0% -116% 34% 7%;
    padding: 1% 30% 6% 9%;
    width: 44%;
  }

  .contenedor4 {
    background-image: url("../../public/erp.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   
    margin: 0% -116% 34% 7%;
    padding: 1% 30% 6% 9%;
    width: 44%;
  }
  .contenedor5 {
    background-image: url("../../public/seguimiento.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   
    margin: 0% -116% 34% 7%;
    padding: 1% 30% 6% 9%;
    width: 44%;
  }
.text2{
  display: flex;
  /* font-size: 112%; */
  margin: 0% 70% 0% -195%;
  width: -16%;
  /* line-height: 1.0em; */
  flex-direction: row-reverse;
}
p {
  color: #555;
  line-height: 1.5;
 
  
}

.service-detail p {
  display: flex;
  font-size: 177%;
  margin:19% -37% 12% 4%;
  width: 31%;
  color: black;
  font-weight: bold;
  text-decoration: underline;

}
.service-detail h2 {
  color: black;
  margin: 14% -13% 0% 27%;
  font-size: 158%;
}
a {
  color: black;
  margin: -11% -4% 0% 0%;
}
.service-link2 {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin: 0% -83% 0% 3%;
  font-size: 68%;
  display: block;
}
  
}

@media (max-width: 290px) {

  .service-detail {
    text-align: left;
    max-width: 349px;
    margin: 16px auto;
    padding: 20px;
    font-weight: bold;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #fff0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  .service-detail p {
    display: block;
    font-size: 89%;
    margin: 18% -41% 5% -71%;
    width: 42%;
    color: #ffffffcc;
  }
  a {
    color: black;
    margin: -11% -4% 0% 0%;
  }
  .service-link2 {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: -459% 26% 25% -91%;
    font-size: 68%;
    display: block;
  }
}