
* {
  margin: 0px;
  padding: 0px;
}
.HomeContainer{
  background-image: url('../../public/servicios.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 3%;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 52px -8px 29px -11px;
  display: flex; /* Usamos Flexbox */
  flex-wrap: wrap; /* Permitimos que los elementos se envuelvan a la siguiente línea */
  justify-content: space-between; /* Distribuimos los elementos horizontalmente */
}

li {
  font-size: 25px;
  margin: 0; /* Eliminamos el margen para que los elementos no tengan espacio entre ellos */
  width: calc(33.33% - 8px); /* Calculamos el ancho para que haya tres elementos por fila */
}

.nav{
  width: auto;

}
.servicios{
  width: 100%;
  margin: 0% 0% -10% -15%;

}

p {
  font-size: 177%;
  margin: 5% 27% 1% 21%;
}
.service-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin: 3% 0% 2% 0%;
  font-size: 239%;
  width: 100%;
  padding: 24% 17% 24% 0%;
}
.service-group {
  display: flex;
  flex-wrap: nowrap;
  margin: 16% 0% 13% 0%;
}

.service-group nav {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33.33% - 20px);
  margin: 0% 4% 2% 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  border-radius: 5%;

}

.service-link:hover {
  text-decoration: underline;
  color: yellow;
}


h2 {
  margin: 6% 0% 3% 1%;
  font-size: xxx-large;
}
p {
  /* display: none; */
  width: 47%;
  font-size: 103%;
  margin: 25% -60% 2% -33%;
}

@media (max-width: 1440px) {
  p {
    /* display: none; */
    width: 47%;
    font-size: 103%;
    margin: 25% -60% 2% -33%;
  }
  .service-group nav {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.33% - 20px);
    margin: 0% 7% 2% -1%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
}
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .service-group {
    display: flex;
    flex-wrap: nowrap;
    margin: 11% 11% 10% 6%;
}
}
@media screen and (min-width: 768px) and (max-width: 1024px){
   h2 {
    margin: 6% 0% 3%; /* Estilo para pantallas de hasta 768px de ancho */
  }

  .servicios {
    width: 100%;
    margin: 0px 4% -21% -15%;

  }
  .service-group {
    display: flex;
    flex-wrap: nowrap;
    margin: 13% 7% 10% 10%;
}
}

 @media screen and (min-width: 425px) and (max-width: 768px)
{
.service-group nav {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33.33% - 20px);
  margin: -1% 6% 2% 1%;
  padding: -1% -1% -3% -3%;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
}
.service-group {
  display: flex;
  flex-wrap: nowrap;
  margin: 13% 2% 10% 5%;
}
.servicios {
  width: 100%;
  margin: 0 4% -10% 3%;

}
.service-group {
  display: flex;
  flex-wrap: nowrap;
  margin: 10% 3% 10% 1%;
  font-size: 98%;
}
.service-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin: 16% 5% 10% -1%;
  font-size: 100%;
  width: 100%;
  padding: 23% 19% 24% 0%;
}
.service-group {
  display: flex;
  flex-wrap: nowrap;
  margin: 13% 11% 11% 4%;
}
}
@media (max-width: 430px) {
  .service-group {
    display: flex;
    flex-wrap: nowrap;
    margin: 13% 7% 11% 4%;
  }
  
  }

@media screen and (min-width: 375px) and (max-width: 425px) 
  {
  h2 {
    margin: 6% 0% 3%; /* Estilo para pantallas de hasta 540px de ancho */
  }
  .nav{
    width: auto;
    
  }
  .servicios {
    width: 100%;
    margin: 0 4% -10% 3%;

  }

    .service-link {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        margin: 8% 28% 17% -1%;
        width: 99%;
        font-size: 100%;
        padding: 22% 61% 21% 1%;
  }
  .service-group {
    display: flex;
    flex-wrap: nowrap;
    margin: 15% 5% 16% 3%;
    }
}
@media (max-width: 390px) {
  .service-group {
    display: flex;
    flex-wrap: nowrap;
    margin: 13% 3% 11% 6%;
  }
  
  }

@media screen and (min-width: 320px) and (max-width: 375px) {
  h2 {
    margin: 6% 0% 3%; /* Estilo para pantallas de hasta 410px de ancho */
  }
  .service-link {
   
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 8% 28% 17% -1%;
    font-size: 86%;
    display: block;
}
.service-group {
  display: flex;
  flex-wrap: nowrap;
  margin: 9% 1% 10% 2%;
  }
.description{
  
    display: block;
    font-size: 89%;
    margin: 36% 46% -7% -25%;
    width: 42%;
    line-height: 1.5em;
}
.servicios {
  width: 100%;
  margin: 0 4% -10% 3%;

}
.service-group nav {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33.33% - 20px);
  margin: 0% 0% 0% 4%;
  padding: 0%;
  display: flex;
  flex-direction: column;
}


}
