* {
  margin: 0px;
  padding: 0px;
}

.App {
  
  text-align: center;
  background: #a9b6a8;
  font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
    overflow-y: hidden;
  }


.App-logo {
  height: auto;
  pointer-events: none;
}

.App-header {
  background: black;

  padding: 5% 0px 0px 0px;
  color: white;
  height: 100%;
}

nav {
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px;
  border: 1px solid #000000;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

nav a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.service-link {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

.service-link:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .App-header {
    background: black;
    padding: 15% 0px 1% 0px;
    color: white;
    height: 100%;
    margin: -22% 0% 0% 0%;
}
  
}